.caja__mantenimiento{
    position: relative;
    display: flex;
   margin: 200px 0 300px 0;
    justify-content: center;
   
    width: 100%;
  
  }
  
  
  .mantenimiento{
    
      position: relative;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      width: 300px;
      border-radius: 1.5rem 1.5rem  0 1.5rem;
      background-color: rgba(34, 34, 34, 0.356);
      border: rgba(255, 238, 0, 0.089) solid 1px;
     filter: blur(200);
     z-index: 20;
      
    
      & .mantenimiento__mensaje{
        font-size: 70px;
        font-weight: bold;
      }
    
      & .mantenimiento__descripcion{
        font-size: 15px;
        opacity: 0.3;
      }
    
      & .mantenimiento__botom{
        color: white;
    position: absolute;
    z-index: 30;
    right: -1px;
        margin-top: 10px;
        background-color: rgb(229, 255, 0);
        border-radius: 20px 1px;
      border: rgba(255, 217, 0, 0.089) solid 1px;
        font-size: 14px;
        animation: mantenimientoBotom 1s infinite alternate;
      }
    
    }
    
    @keyframes mantenimientoBotom {
      to{
          background-color:  rgb(45, 49, 14);
      }
      from{
          background-color:  rgb(31, 31, 11);
      }
    }